div[role="button"],
div[role="button"]:hover {
  border-color: #22a502 !important;
  border-radius: 2px !important;
  background-color: #26b700 !important;
  background-image: -webkit-linear-gradient(top,#28bd00 0%,#21a100 100%) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15) !important;  
}

div[role="button"]:hover {
  background-image: -webkit-linear-gradient(top,#21a100 0%,#1e9200 100%) !important;
}

div[role="button"]:active {
  box-shadow: none !important;
}